*{
    padding: 0;
    margin: 0;
}
main,body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #27374D;
    color: #ffffff;
}
footer{
    color: aliceblue;
    position: absolute;
    bottom: 10px;
    font-size: small;
}